In [2]:
import pandas as pd
import numpy as np

Series through list

In [4]:
lst = [1 , 2 , 3 , 4 , 5]
pd.Series(lst)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Series through Numpy array

In [6]:
arr = np.array([1 , 2 , 3 , 4 , 5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

giving index from our own end

In [8]:
pd.Series(data = ['Pikachu' , 'Raichu' , 'Balbasaur' , 'Blastoise'] , index = [1 , 2 , 3 , 4])

1      Pikachu
2       Raichu
3    Balbasaur
4    Blastoise
dtype: object

Series through Dictionaries

In [11]:
steps = {'day_1' : 100 , 'day_2' : 150 , 'day_3' : 50 , 'day_4' : 200}
pd.Series(steps)

day_1    100
day_2    150
day_3     50
day_4    200
dtype: int64

using repeat function along with creating a Series

In [12]:
pd.Series(5).repeat(4)

0    5
0    5
0    5
0    5
dtype: int64

we can use the reset function to make the index accurate

In [15]:
pd.Series(5).repeat(3).reset_index(drop = True)

0    5
1    5
2    5
dtype: int64

In [21]:
s = pd.Series([10,12]).repeat([5 , 2]).reset_index(drop = True)
s

0    10
1    10
2    10
3    10
4    10
5    12
6    12
dtype: int64

Accessing and slicing elements in a Series

In [22]:
s[2]

np.int64(10)

In [23]:
s[:]

0    10
1    10
2    10
3    10
4    10
5    12
6    12
dtype: int64

In [24]:
s[0:1]

0    10
dtype: int64

In [25]:
s[1:-1]

1    10
2    10
3    10
4    10
5    12
dtype: int64

In [26]:
s[:-1:2]

0    10
2    10
4    10
dtype: int64

In [27]:
s[-1: :-1]

6    12
5    12
4    10
3    10
2    10
1    10
0    10
dtype: int64

### b) Aggregate functions on pandas Series

pd.Series.aggregate() function aggregate using one or more operation over the specified axis in the given series object.

In [30]:
s = pd.Series([1 , 2 , 3 , 4 , 5])
s.agg(['min' , 'max' , 'sum'])

min     1
max     5
sum    15
dtype: int64

### c) Series absolute function

Pandas Series.abs() method is used to get absolute numeric value of each element in Series/DataFrame

In [31]:
s = pd.Series([-1 ,2 , 3 , -4 , 5 , -6 , -7])
s.abs()

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

### d) Appending Series

Pandas Series.append() function is used to concatenate two or more Series object

In [35]:
sr1 = pd.Series([-1 , 2 , -3])
sr2 = pd.Series([1 , -2 , 3])
pd.concat([sr1 , sr2])

0   -1
1    2
2   -3
0    1
1   -2
2    3
dtype: int64

In [36]:
pd.concat([sr1 , sr2]).reset_index(drop = True)

0   -1
1    2
2   -3
3    1
4   -2
5    3
dtype: int64

### e) Astype function

it is used to change data type of a series.

In [37]:
type(sr1)

pandas.core.series.Series

In [38]:
type(sr1[0])

numpy.int64

In [40]:
sr1.astype('float')

0   -1.0
1    2.0
2   -3.0
dtype: float64

### f) Between function

Pandas between() method is used on Series to check whichvalue lies in between first and second argument

In [3]:
s = pd.Series([1  , 2 , 3 , 4 , 5 , 6 , 7 , 8])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [4]:
s.between(2,5)

0    False
1     True
2     True
3     True
4     True
5    False
6    False
7    False
dtype: bool

### g) All Strings functions can be used to extract or modify texts in a Series

In [31]:
s = pd.Series(['   Pikachu Kumar' , 'Balbasaur Sharma' , 'Raichu Shankar' , 'Blastoise Kumar'])

Upper and Lower function

In [41]:
print(s.str.upper())
print()
print(s.str.lower())

0       PIKACHU KUMAR
1    BALBASAUR SHARMA
2      RAICHU SHANKAR
3     BLASTOISE KUMAR
dtype: object

0       pikachu kumar
1    balbasaur sharma
2      raichu shankar
3     blastoise kumar
dtype: object

Length function

In [14]:
for i in s:
    print(i ,len(i))

   Pikachu Kumar 16
Balbasaur Sharma 16
Raichu Shankar 14
Blastoise Kumar 15

Strip Function

In [32]:
s = s.str.strip()
for i in s:
    print(i , len(i))

Pikachu Kumar 13
Balbasaur Sharma 16
Raichu Shankar 14
Blastoise Kumar 15

split function

In [39]:
p = s.str.split()
for i in p:
    print(i)
print()
p[0]

['Pikachu', 'Kumar']
['Balbasaur', 'Sharma']
['Raichu', 'Shankar']
['Blastoise', 'Kumar']

['Pikachu', 'Kumar']

Contains function

In [57]:
s = pd.Series(['Pikachu K@umar' , 'Bal@basaur Sharma' , 'Raichu Shankar' , 'Blastoise Kumar'])
s.str.contains('@')

0     True
1     True
2    False
3    False
dtype: bool

replace function

In [50]:
s = s.str.replace('@' , '')
print(s)

0       Pikachu Kumar
1    Balbasaur Sharma
2      Raichu Shankar
3     Blastoise Kumar
dtype: object

count function

In [52]:
s.str.count('a')

0    2
1    5
2    3
3    2
dtype: int64

startswith and endswith

In [53]:
s.str.endswith('r')

0     True
1    False
2     True
3     True
dtype: bool

In [54]:
s.str.startswith('B')

0    False
1     True
2    False
3     True
dtype: bool

find function

In [55]:
s.str.find('Shankar')

0   -1
1   -1
2    7
3   -1
dtype: int64

### h) Converting a Series to List

Pandas tolist() is used to converrt a series to list.

In [58]:
s.tolist()

['Pikachu K@umar', 'Bal@basaur Sharma', 'Raichu Shankar', 'Blastoise Kumar']